@page "/"

<PageTitle>BeatleBug</PageTitle>

<div>
    <img src="./images/bug-band.jpg" align="middle" style="width: 50%; height: 50%; display: block; margin-left: auto;margin-right: auto;" />
    <h2 style="text-align:center">BeatleBug Tracker</h2>
</div>



